<h1>Stupid coaching</h1>
<p>Ask your coach anything</p>
<div class="input-group mb-3">
<form action="/answer" data-turbo="false" class="form-control">
  <input type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-outline-secondary">
</form>
</div>
